<link rel="stylesheet" href="/css/user_profile.css">
<h1>
    ConnectI | Profile Page
    <div>
        <p>
            <%= user.name %>
        </p>
        <p>
            <%= user.email %>
        </p>
    </div>
</h1>