<link rel="stylesheet" href="/css/user_profile.css">


<div class="background">

    <h1>
        ConnectI | Profile Page
        <div>
            <p>
                <%= user.name %>
            </p>
            <p>
                <%= user.email %>
            </p>
        </div>
    </h1>

    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>



</div>